.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.container{
  background-color: whitesmoke;
  height: 40vh;
  width: 40vw;
}
.container button{
  margin: 30px;
  cursor: pointer;
}
.container div{
  margin: 30px;
}
.container div p{
  font-weight: bold;
}
.counter{
  margin-bottom: 20px;
}
.counter div{
  width: 90%;
  text-align: right;
}